@font-face { font-family: 'Krungthep'; src: url('fonts/Krungthep.ttf'); }
body {
    font-family: 'Krungthep', sans-serif;
}
canvas {
    position: absolute;
    top:0; left:0;
    /* border:1px solid #d3d3d3; */
    background-color: #f1f1f1;
    z-index: 0;
}
img {
    /* display: none;    */
}
.menu {
    position: absolute;
    top:0; left:0;
    z-index: 1;
    width: 414px;
}
.menuImg {
    display: block;
    width: 414px;
    height: 736px;
    z-index: 2;
}
.trainer {
    display: block;
    /* position: absolute; */
    width: 414px;
    height: 736px;
    z-index: 3;
}
.start {
    position: absolute;
    z-index: 2;
    text-align: center;
    line-height: 20px;
    top:40%; left:25%;
    background-color: #eeeb69;
    width: 50%;
    margin: 0 auto;
    font-size: 1.7rem;
    border-radius: 17px;
    border: 5px solid black;
}
.start:active {
    background-color: #f5c040;
}
.replay {
    position: absolute;
    z-index: 2;
    text-align: center;
    line-height: 20px;
    top:40%; left:25%;
    background-color: #f5c040;
    width: 50%;
    margin: 0 auto;
    font-size: 1.7rem;
    border-radius: 17px;
    border: 5px solid black;
}
.replay:active {
    background-color: #eeeb69;
}
